<!DOCTYPE HTML>

<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Gallery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]>
	<script th:src="@{/js/ie/html5shiv.js}"></script><![endif]-->
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<!--[if lte IE 8]>
	<link rel="stylesheet" th:href="@{/css/ie8.css}"/><![endif]-->
	<!--[if lte IE 9]>
	<link rel="stylesheet" th:href="@{/css/ie9.css}"/><![endif]-->
</head>
<body class="landing">

<!-- Page Wrapper -->
<div id="page-wrapper">

	<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="index.html">Gallery</a></h1>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle"><span>Menu</span></a>
					<div id="menu">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Generic</a></li>
							<li><a href="#">Elements</a></li>
							<li><a href="#">Sign Up</a></li>
							<li><a href="#">Log In</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>欢迎来到 Gallery</h2>
			<p>Gallery—艺术画廊项目，让您在线领略艺术的魅力<br />
				更多精彩内容即将上线<br />
				designed by <a href="#">Master Yitong</a>.</p>
			<ul class="actions">
				<li><a href="#" class="button special">Activate</a></li>
			</ul>
		</div>
		<a href="#one" class="more scrolly">Learn More</a>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="inner">
			<header class="major">
				<h2>本期主题: 梵高 (Vincent Willem van Gogh,1853-1890)</h2>
				<p>梵高，荷兰后印象派画家，出生于新教牧师家庭，是后印象主义的先驱，并深深地影响了二十世纪艺术。<br />
					文森特的作品目前主要收纳在阿姆斯特丹的梵高美术馆，以及奥特洛的国立克罗-米勒美术馆。</p>
			</header>
			<ul class="icons major">
				<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
				<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
				<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
			</ul>
		</div>
	</section>
	<div class="chs">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>

	<!-- Two -->
	<section id="two" class="wrapper alt style2">
		<section class="spotlight">
			<div class="image"><img th:src="@{/images/fangao_1.jpg}" alt="" /></div><div class="content">
			<h2>《星月夜》<br />
				The Starry Night</h2>
			<p>荷兰后印象派画家文森特·威廉·梵高于1889年在法国圣雷米的一家精神病院里创作的一幅著名油画，是梵高的代表作之一，现藏纽约现代艺术博物馆。有种普遍的说法，由于这是梵高在精神病时期所作，世人普遍认为这是梵高想象出来的美妙情景。</p>
		</div>
		</section>
		<section class="spotlight">
			<div class="image"><img th:src="@{/images/fangao_2.jpg}" alt="" /></div><div class="content">
			<h2>《鸢尾花》<br />
				Irises</h2>
			<p>荷兰画家文森特·梵高一幅作品，创作于去世的前一年1889年5月，当时梵高进了法国圣雷米的一间精神病院，在那里画成。作品现收藏在美国加州保罗盖兹美术馆。</p>
		</div>
		</section>
		<section class="spotlight">
			<div class="image"><img th:src="@{/images/fangao_3.jpg}" alt="" /></div><div class="content">
			<h2>《收割中的田园风景》<br />
				The harvest in the pastoral landscape</h2>
			<p>梵高为创作这幅油画，共画了四张习作，它们的构图大致相似，手推车始终位于画面中央。这幅画采用较传统的写实风格，整个画面笼罩在暖色调中。</p>
		</div>
		</section>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="inner">
			<header class="major">
				<h2>未完待续 ...</h2>
				<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
					fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
			</header>
			<ul class="features">
				<li class="icon fa-paper-plane-o">
					<h3>Arcu accumsan</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
				<li class="icon fa-laptop">
					<h3>Ac Augue Eget</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
				<li class="icon fa-code">
					<h3>Mus Scelerisque</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
				<li class="icon fa-headphones">
					<h3>Mauris Imperdiet</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
				<li class="icon fa-heart-o">
					<h3>Aenean Primis</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
				<li class="icon fa-flag-o">
					<h3>Tortor Ut</h3>
					<p>Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
				</li>
			</ul>
		</div>
	</section>

	<!-- CTA -->
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h2>想要加入</h2>
				<p>Gallery 画廊项目即将推出个人专属艺术画廊，让您定制属于自己的艺术馆</p>
			</header>
			<ul class="actions vertical">
				<li><a href="#" class="button fit special">Activate</a></li>
				<li><a href="#" class="button fit">Learn More</a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; WildHunter</li><li>Design: Yitong</li>
		</ul>
	</footer>

</div>

<!-- Scripts -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/js/jquery.scrolly.min.js}"></script>
<script th:src="@{/js/skel.min.js}"></script>
<script th:src="@{/js/util.js}"></script>
<!--[if lte IE 8]>
<script th:src="@{/js/ie/respond.min.js}"></script><![endif]-->
<script th:src="@{/js/main.js}"></script>

</body>
</html>