<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}" />

    <script type="text/javascript" th:src="@{/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.corner.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.roundabout.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.roundabout-shapes.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>

    <style>
        body,html{ background: #636363;}
    </style>
</head>

<body>

<section id="two" class="wrapper alt style2">
    <div id="myheader">
        <div id="gla">
            <div id="gla_box">
                <ul>

                    <li>
                        <div class="gla_inbox">
                            <img th:src="@{/images/fangao_1.jpg}" alt="" />
                        </div>
                    </li>

                    <li>
                        <div class="gla_inbox">
                            <img th:src="@{/images/fangao_1.jpg}" alt="" />
                        </div>
                    </li>

                    <li>
                        <div class="gla_inbox">
                            <img th:src="@{/images/fangao_1.jpg}" alt="" />
                        </div>
                    </li>

                    <li>
                        <div class="gla_inbox">
                            <img th:src="@{/images/fangao_1.jpg}" alt="" />
                        </div>
                    </li>

                    <li>
                        <div class="gla_inbox">
                            <img th:src="@{/images/fangao_1.jpg}" alt="" />
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

</body>
</html>

